<link rel="stylesheet" href="/css/buses/listar.css">
<form action="detalle_mascota/listar/"method="get"></form>

<h1>Listado mascotas registradas </h1>
<div id="contenedor">
    
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <u><h2>Datos de la mascota</h2></u>
            <div>
                <p>{{numero_telefonico}}</p>
            <div>
            <div>
                <p>{{medicamentos}}</p>
            <div>
            <div>
                <p>{{direccion_mascota}}</p>
            <div>
            <div>
                <p>{{fecha_vacuna}}</p>
            <div>
            <div>
                <p>{{nombre_propietario}}</p>
            <div>

                <div>
                    <a href="/detalle_mascota/editar/{{id_detalle_mascota}}"><button type="button">Editar</button></a>
                </div></p>
                <div>
                    <a href="/detalle_mascota/eliminar/{{id_detalle_mascota}}"><button type="button" style="background-color: red;">Eliminar</button></a>
                </div></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
