<link rel="stylesheet" href="/css/editarmensaje.css" />
<form action="mensaje_personalizado/listar/" method="get"></form>

<body>
   <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
    <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a>
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>

</body>

<h1 class="subir">Listado de Mnesajes Personalizados</h1>
<div id="contenedor">
  <table>
    <thead>
      <tr>
        <th>Mensaje</th>
        <th>Descripción</th>
        <th>Fecha del Mensaje</th>
        <th>Hora de Perdida</th>

        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {{#each lista}}
        <tr>
          <td>{{mensaje}}</td>
          <td>{{descripcion}}</td>
          <td>{{fecha_mensaje}}</td>
          <td>{{hora_mensaje}}</td>

          <td>
            <br />

            <div>
              <a
                href="/mensaje_personalizado/eliminar/{{id_mensaje_personalizado}}"
              ><button
                  type="button"
                  style="background-color: red;"
                >Eliminar</button></a>
            </div>

            <br />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>