<link rel="stylesheet" href="/css/buses/editar.css">
{{#each lista}}
<form action="/detalle_objeto/editar/{{id_detalle_objeto}}" method="post">

  <body>

   
    <div id="container">
      <h2>Actualización de Detalle Objetos</h2>

      <label id="date" for="fecha_perdida">Fecha de pérdida:</label> <br>
      <input type="date" id="fecha" name="fecha_perdida" value="{{fecha_perdida}}" required>

      <label id="hour" for="hora">Hora de pérdida:</label> <br>
      <input type="time" id="hora" name="hora_perdida" value="{{hora_perdida}}" required>

      <label id="location" for="ubicacion">Ubicación de pérdida:</label> <br>
      <input type="text" id="ubicacion_perdida" name="ubicacion_perdida" value="{{ubicacion_perdida}}" required>

      <label id="col" for="color">Color:</label> <br>
      <input type="text" id="color" name="color" value="{{color}}" required>

    

      <div id="boton">
        <button type="submit">Actualizar</button>
      </div>
      <div class="cancelar">
        <button type="submit">Cancelar</button>
      </div>
    </div>
    </div>
    </div>
</form>
{{/each}}

</body>