<link rel="stylesheet" href="/css/editarobjeto.css">
{{#each lista}}
<form action="/objeto/actualizar/{{id_objeto}}/{{id_detalle_objeto}}" method="post">

    <body>
     {{!-- Para el Nav en Responsive  --}}
     <script src="/script/registro/nav.js"></script>
     <div class="menu-toggle">&#9776;</div>
     {{!-- Funcional --}}
 <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
   {{!--  <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a> --}}
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>

        <div class="crud-container">
        <div class="crud-content">
            <h2>Actualización de objeto</h2>

            <label id="marcas" for="marca">Marca</label> <br>
            <input type="text" id="marca" name="marca" value="{{marca}}" required>

            <label id="modelos" for="modelo">Modelo</label> <br>
            <input type="text" id="modelo" name="modelo" value="{{modelo}}" required>

            <label id="numero_series" for="numero_serie">Numero de Serie</label> <br>
            <input type="text" id="numero_serie" name="numero_serie" value="{{numero_serie}}" required>

            <label id="numero_contacto" for="numero_contacto">Numero de Contacto</label> <br>
            <input type="number" id="numero_contacto" name="numero_contacto" value="{{numero_contacto}}" pattern="[0-9]{10}" title="Ingrese un número de teléfono válido de 10 dígitos" maxlength="10" required>

            <label id="correo_electronicos" for="correo_objeto">Correo Electronico</label> <br>
            <input type="email" id="correo_electronico" name="correo_objeto" value="{{correo_objeto}}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Ingrese un correo válido" required>

            <label id="fecha_perdida" for="fecha_perdida">Fecha de la perdida</label> <br>
            <input type="date" id="fecha_perdida" name="fecha_perdida" value="{{fecha_perdida}}" required>

            <label id="hora_perdida" for="hora_perdida">Hora de la perdida</label> <br>
            <input type="time" id="hora_perdida" name="hora_perdida" value="{{hora_perdida}}" required>

            <label id="ubicacion_perdida" for="ubicacion_perdida">Ubicación de la perdida</label> <br>
            <input type="text" id="ubicacion_perdida" name="ubicacion_perdida" value="{{ubicacion_perdida}}" required>

            <label id="color" for="color">Color</label> <br>
            <input type="text" id="color" name="color" value="{{color}}" required>
            <br> <br><br>
            <br> <br>

            <div class="login">
                <button style="background-color: red;" type="submit">Cancelar</button>
            </div>
            <div class="atras">
                <button type="submit">Actualizar</button>
            </div>
        </div>
        </div>
        </div>
</form>
{{/each}}
</body>