<link rel="stylesheet" href="/css/listarmascota.css">
<form action="mascota/listar/"method="get"></form>

<body>
    <div class="logo-container">
        <img src="/img/logo.jpeg" class="logo" alt="Logo">
    </div>
 <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
    <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a>
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>



<div class="crud-container">
        <div class="crud-content">
            <h1>Listado de mascotas</h1>
    
    
   
<div class="contenedor">
  <table>
    <thead>
      <tr>
        <th>Datos de la mascota</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Numero de telefono</th>
        <th>Medicamentos</th>
        <th>Direccion de la mascota</th>
        <th>Fecha de vacuna</th>
        <th>Propietario</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      {{#each lista}}
      <tr>
        <td>{{nombre_mascota}}</td>
        <td>{{especie}}</td>
        <td>{{raza}}</td>
          <td>{{altura}}</td>
        <td>{{peso}}</td>
        <td>{{numero_telefonico}}</td>
          <td>{{medicamentos}}</td>
        <td>{{direccion_mascota}}</td>
        <td>{{fecha_vacuna}}</td>
          <td>{{nombre_propietario}}</td>
        <td>
           <div class="contenedor-botones">
    <a href="/mascota/editar/{{id_mascota}}"><button class="cancelar" type="button">Editar</button></a>

        <a id="boton1"  data-id="{{id_mascota}}"><button style="background-color: red;" type="button">Eliminar</button></a>
       
    </div>
     <script src="/script/registro/eliminarmascota.js"></script>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

 
</body>