<link rel="stylesheet" href="/css/listarmascota.css">
<form action="mascota/listar/"method="get"></form>

<body>
    
<nav>
        <h1 class="textos">SOS RESQ</h1>
        <div class="user-info">
            <br><br>
            <h2>Camila</h2>
            <p>camila@example.com</p>
        </div>
        <a href="#" class="menu-item active"><img src="/img/cuadrado.PNG" alt="Registro"> Registro Información</a>
        <a href="#" class="menu-item"><img src="/img/circulo.png" alt="Datos"> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Familia"> Registro Familiares</a>
        <a href="#" class="menu-item"><img src="/img/circulo.png"Guardados> Datos Guardados</a>
        <a href="#" class="menu-item"><img src="/img/icorreo.png" alt="Notificación"> Mensaje de Notificación</a>
        <a href="#" class="menu-item"><img src="/img/4lineas.png" alt="Historial"> Historial</a>
        <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Ubicación"> Historial de Ubicación</a> 
        <a href="#" class="menu-item"><img src="/img/circulo1.png" alt="Activaciones"> Historial de Activaciones</a>
         <br><br>
         <a href="#" class="underline-text">cerrar sesion <u></u></a>
   
    </nav> 

        <div class="crud-container">
        <div class="crud-content">
            <h1>Listado de mascotas</h1>
    
    
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <u><h2>Datos la mascota</h2></u>
            <div>
                <p>{{nombre_mascota}}</p>
            <div>
            <div>
                <p>{{especie}}</p>
            <div>
            <div>
                <p>{{raza}}</p>
            <div>
            <div>
                <p>{{altura}}</p>
            <div>
            <div>
                <p>{{peso}}</p>
            <div>

            {{!-- detalle --}}

            <div>
                <p>{{numero_telefonico}}</p>
            <div>

            <div>
                <p>{{medicamentos}}</p>
            <div>

            <div>
                <p>{{direccion_mascota}}</p>
            <div>

            <div>
                <p>{{fecha_vacuna}}</p>
            <div>

            <div>
                <p>{{nombre_propietario}}</p>
            <div>    

                <div>
                    <a href="/mascota/editar/{{id_mascota}}"><button type="button">Editar</button></a>
                </div></p>
                <div>
                    <a href="/mascota/eliminar/{{id_mascota}}"><button type="button" style="background-color: red;">Eliminar</button></a>
                </div></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</body>
