<link rel="stylesheet" href="/css/listarpersona.css">
<form action="persona/listar/" method="get"></form>

<body>

     {{!-- Para el Nav en Responsive  --}}
     <script src="/script/registro/nav.js"></script>
     <div class="menu-toggle">&#9776;</div>
     {{!-- Funcional --}}
    <div class="logo-container">
        <img src="/img/logo.jpeg" class="logo" alt="Logo">
    </div>

    <nav id="sidebar">
    <a href="/inicio"><h1 class="textos">SOS RESQ</h1></a>
    <div class="user-info">
        <h3>Camila</h3>
        <h4>camila@example.com</h4>
    </div>
   {{!--  <a href="/usuario/agregar" class="menu-item active"><i class="fas fa-user" ></i> Usuario</a> --}}
    <a href="" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="/registro_familiar/agregar" class="menu-item"><i class="fas fa-users" ></i> Registro Familiares</a>
    <a href="/registro_familiar/listar/" class="menu-item"><i class="fas fa-save"  ></i> Datos Guardados</a>
    <a href="/mensaje_personalizado/agregar/" class="menu-item"><i class="fas fa-envelope" ></i> Mensaje de Notificación</a>
    <a href="/mensaje_personalizado/listar/" class="menu-item"><i class="fas fa-save" ></i> Datos Guardados</a>
    <a href="" class="menu-item"><i class="fas fa-history" ></i> Historial</a>
    <a href="/historial_activacion/agregar/" class="menu-item"><i class="fas fa-history"></i> Historial de Activaciones</a>
    <br><br>
    <a href="/login/" class="underline-text">cerrar sesion <u></u></a>
</nav>


            <div class="titulo">
                            <h2>Registros de personas</h>
            </div>

    <div class="row">
        <div class="table-container">

                    <table class="tabla-registros">


            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de nacimiento</th>
                    <th>Género</th>
                    <th>Dirección</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                <tr>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{fecha_nacimiento}}</td>
                    <td>{{sex}}</td>
                    <td>{{direccion}}</td>
                    <td>{{correo_persona}}</td>
                    <td>{{numero_persona}}</td>
                    <td>
                        <a href="/persona/editar/{{id_persona}}">
                            <button type="button">Editar</button>
                        </a>

                        <a class="botonEliminar"  data-id="{{id_persona}}">
                          <button type="button"style="background-color: red;">Eliminar</button>
                        </a>
                        <script src="/script/registro/persona.js"></script>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>

    </div>

    </div>
</body>